@import "../../App.scss";
.find {
    text-align: $text-position;
    color:$color-two;
    font-family: $font-family2;
    font-style: $style-of-font;
    font-weight: bold;
    font-size: 48px;
    padding-top: 50px;
}

.bgColor {
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.7);
}

.searchIn {
    margin-left: 300px;
    margin-top: 100px;
}

.searchBtn {
    margin-left: 40px;
    width: 150px;
    height: 40px;
    background: $color-one;
    border-radius: 5px;
    font-family: $font-family3;
    font-style: $style-of-font;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-align: $text-position;
    color: $color-two;
}

.search2 {
    width: 150px;
    height: 70px;
    background: $color-four;
    border-radius: 5px;
}