.find {
    text-align: center;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    padding-top: 50px;
}

.bgColor {
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.7);
}

.searchIn {
    margin-left: 300px;
    margin-top: 100px;
}

.searchBtn {
    margin-left: 40px;
    width: 150px;
    height: 40px;
    background: #275A53;
    border-radius: 5px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    text-align: center;
    color: #FFFFFF;
}

.search2 {
    width: 150px;
    height: 70px;
    background: #F1F6F4;
    border-radius: 5px;
}