.available1 {
    text-align: center;
    margin-top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #275A53;
}

.available2 {
    text-align: center;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: #16322E;
}

.house {
    margin-top: 30px;
}

.cardImg {
    margin-top: 50px;
}

.map {
    width: 24px;
    height: 24px;
}

.view {
    width: 140px;
    height: 50px;
    background: #275A53;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F1F6F4;
    border-radius: 3px;
}

.amount {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #275A53;
}

.avenue {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #16322E;
    width: 211px;
    height: 36px;
}

.address {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #747474;
}