@import "../../App.scss";
.footer {
    margin-top: 60px;
    background-color: $color-one;
    height: 300px;
}

.footerCol {
    margin-top: 50px;
}

.socialSites1 {
    height: 30px;
}

.socialSites2 {
    height: 30px;
}

.socialSites3 {
    height: 30px;
}

.socialSites4 {
    height: 30px;
    margin-right: 10px;
}

li {
    list-style: none;
}

.company {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color:$color-two;
    margin-left: 100px;
}

.about {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:$color-two;
}

ul.about {
    color:$color-two;
}