.footer {
    margin-top: 60px;
    background-color: #275A53;
    min-height: 350px;
    color: white
}

.footerCol {
    margin-top: 50px;
}

.socialSites1 {
    height: 30px;
    margin-bottom: 10px;
}

.socialSites2 {
    height: 30px;
    margin-bottom: 10px;
}

.socialSites3 {
    height: 30px;
    margin-bottom: 10px;
}

.socialSites4 {
    height: 30px;
    margin-bottom: 10px;
}

.footer li {
    list-style: none;
}

.footer .company {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
}

.footer .about {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}