@import "../../App.scss";
.loginBtn {
    width: 104px;
    height: 44px;
    background: $color-one;
    border-radius: 5px;
    border: none;
    font-family: $font-family2;
    font-style: $style-of-font;
    font-weight: 500;
    font-size: 16px;
    color: $color-two;
}

.navColor1 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}

.navColor2 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}

.navColor3 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}

.navColor4 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}

.navColor5 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}

.navColor6 {
    font-family: $font-family;
    font-style: $style-of-font;
    font-weight: 700;
    font-size: 20px;
    color: $color-six;
    margin-right: 10px;
}