$font-family: Poppins;
$font-family2: Montserrat;
$color-one: #275A53;
$color-two:#FFFFFF;
$color-three: #16322E;
$color-four: #F1F6F4;
$color-five: #747478;
$color-six: #000000;
$color-seven: #606268;
$style-of-font: normal;
$font-family3: Avenir;
$text-position: center;